DIV.loading {
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	background-color: #202c2f;
	color: #FFF;
	z-index: 10000;
	text-align: center;
	display: none;
}

.py4 {
	padding-top: 4em;
	padding-bottom: 4em;
}

.error {
	border-color: #F00;
}

FORM, TABLE {
	margin: 0 auto;
}

H1 {
	padding-top: 50px;
	text-align: center;
}

BODY {
	background: #eee;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #222;
	border-color: #080808;
}

.contents {
	margin-bottom: 75px;
}

#footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.container .text-muted {
	margin: 20px 0;
}

.text-muted {
	color #999;
}

