DIV.loading {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: #000;
	color: #FFF;
}

.error {
	background-color: #F00;
}

FORM, TABLE {
	margin: 0 auto;
}

H1 {
	padding-top: 50px;
	text-align: center;
}

BODY {
	background: #eee;
}

